<br><br>
<div class="panel panel-default">
  <div class="panel-heading"><h2><center>Modifique/Elimine Datos del Cliente </h2></center></div>
  <div class="panel-body">

<p><strong>Nombre:</strong> {{incidencia.titulo}}</p>
<br>
<p><strong>Apellido:</strong> {{incidencia.autor}}</p> 
<br>
<p><strong>Edad:</strong> {{incidencia.descripcion}}</p>
<br>
<p><strong>Tipo de Cliente:</strong> {{incidencia.tipo}}</p>
<br> 
<div class="capa-boton">
	<button class="btn btn-success btn-lg" ng-click="modificar()"><i class="glyphicon glyphicon-refresh gly-spin"></i> Actualizar</button>


	<button class="btn btn-success btn-lg" ng-click="eliminar()"><i class="glyphicon glyphicon-remove-sign gly-spin"></i> Eliminar</button>
</div>
</div></div>
</h2></div></div>